<div class="dropdown">
  <div (click)="toggle()">
    <ng-content select="[trigger]" />
  </div>
  @if (isOpen) {
    <div class="dropdown-menu" [class.dropdown-right]="position() === 'right'">
      @for (item of items(); track item.key) {
        <button class="dropdown-item" [class.danger]="item.danger" (click)="select(item.key)" type="button">
          @if (item.icon) {
            <span class="dropdown-icon">{{ item.icon }}</span>
          }
          {{ item.label }}
        </button>
      }
    </div>
  }
</div>
