@reference "tailwindcss";
.main-layout {
  @apply min-h-screen bg-slate-50;
}

.main-content {
  margin-left: 16rem;
  margin-top: 4rem;
  @apply p-6 pb-20 sm:pb-6 transition-all duration-300;

  .sidebar-collapsed & {
    margin-left: 4rem;
  }
}
